:root {
   --orange-first: #FE4400;
   --orange-second: #FC6027;
   --orange-third: #EF653C;
   --orange-fourth: #FE885C;

   --blue-first: #4B4FA1;
   --blue-second: #414099;
   --blue-third: #686DC4;
   --blue-fourth: #96B3F2;

   --black: #303033;
   --grey: #C1C1C1;

   --purple: #4A1A8C;

   --yellow: #FFC91D;
}