#page-confirmacao {
  height: 100vh;
  background: linear-gradient(180deg, #FFFFFF 22.51%, #E4CAFF 100%);
  overflow: hidden;

  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(5px);
    z-index: 9;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;

    div {
      flex-direction: row;
      border-radius: 3px;
      z-index: 9;
      width: 60vw;
      height: 95vh;
      position: relative;
      margin: 2.5vh auto;
      padding: 15px 20px;
      background: #fff;
      text-align: center;

      #medico {
        height: 80vh;
        margin-right: 10vw;
        margin-bottom: -80vh;
      }

      #dicas {
        height: 80vh;
        margin-left: 25vw;
      }
    }

    .fechar {
      z-index: 9;
      position: absolute;
      width: 40px;
      height: 40px;
      right: 5px;
      top: 3px;
      text-align: center;
      line-height: 30px;
      margin-top: 5px;
      background: rgba(0, 0, 0, 0);
      border-radius: 50%;
      font-size: 16px;
      color: #8d0000;
    }

    @media (max-width: 700px) {
      div {
        width: 100vw;
        text-align: center;
        font-size: 3vh;
        border-radius: 0px;
        height: 100vh;
        margin: 0;

        #medico {
          display: none;
        }

        #dicas {
          height: 85vh;
          margin-left: 0;
        }
      }
    }
  }

  #fecharModal {
    opacity: 0;
  }

  header {
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;

    ul {
       list-style: none;
       display: flex;
    }

    li {
       margin-right: 5vw;

       a {
          font-weight: 600;
          color: black;
          text-decoration: none;
        }
    }
  }

  #mensagem {
    display: flex;
    justify-content: space-around;

    p {
      margin-top: 20vh;
      font-size: 8vh;
      font-weight: 600;
    }

    img {
      height: 90vh;
    }

    @media (max-width: 700px) {
      flex-direction: column;

      img {
        height: 70vh;
      }
      
      p {
        text-align: center;
        margin-top: 0;
        font-size: 6vh;
      }
    }
  }
}