#page-login {
    background-color: #E5E5E5;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
    grid-template-rows: 100vh;
    justify-self: center;
    align-self: center;
    overflow: hidden;

    aside {
        grid-row: 1 / 10;
        grid-column-start: 2;
        justify-self: center;
        
        #illustration {
            height: 90vh;
        }

        @media (max-width: 700px){
            display: none;
        }
    }

    main {
        height: 90vh;
        grid-column-start: 4;
        justify-self: center;
        align-self: center;

        h1 {
            margin-top: 15%;
            margin-bottom: 10px;
            text-align: center;
            font-size: 40px;
        }

        #separator {
            margin: auto;
            margin-bottom: 30px;
            width: 80%;
            height: 2px;
            background: #FE4400;
        }

        #texto {
            font-size: 24px;
            width: 80%;
            margin-bottom: 7%;
            margin-left: 10%;
            text-align: center;
        }

        button {
            font-weight: 600;
            font-size: 16px;
            background-color: #404099;
            border-radius: 30px;
            height: 3em;
            width: 80%;
            margin: 5% 10%;

            img {
                margin-right: 5px;
            }
        }

        #recuperarSenha {
            font-size: 16px;
            text-align: center;
        }

        @media (max-width: 1100px) {
            h1 {
                font-size: 30px;
            }

            #separator {
                height: 1.5px;
            }

            #texto {
                font-size: 18px;
            }

            button {
                font-size: 12px;
            }

            #recuperarSenha {
                font-size: 12px;
            }
        }

        @media (max-width: 800px){
            width: 45vw;
            height: 100%;

            #separator {
                width: 60%;
                margin-left: 20%;
            }

            #texto {
                font-size: 16px;
                height: 20%;
                width: 90%;
                margin-left: 5%;
            }

            button {
                width: 85%;
                margin: 5% 7.5%;
            }
        }

        @media (max-width: 700px) {
            width: 70vw;
            margin-right: 13vw;

            #texto {
                height: 18%;
            }
        }

        @media (max-width: 500px) {
            #texto {
                height: 35%;
            }
        }
    }
}